# leftover MATCH 0c0a081: loc_launcher + GNSS HIDL read /vendor/etc/gps.conf.
# Dir search is vendor_configs_file. File read is gps_conf_file.
# SUPL/XTRA over wlan0. No IMSI. Do not add rild.

allow location vendor_configs_file:dir search;
allow location gps_conf_file:file r_file_perms;
allow hal_gnss_default vendor_configs_file:dir search;
allow hal_gnss_default gps_conf_file:file r_file_perms;
