# rild domain policy (bullhead). rild is installed by
# build/make/target/product/telephony_vendor.mk (/vendor/bin/hw/rild,
# rild.legacy.rc) and loads /vendor/lib64/libril-qc-qmi-1.so. Single SIM.
# Do not flip enforcing. init.te unchanged.
# radio_data_file is core_data_file_type; vendor rild is not coredomain.
# full_treble_only neverallow is exempted the same way as location.te.

binder_call(rild, audioserver)
binder_call(rild, mediaserver)
binder_use(rild)
binder_service(rild)

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

# whitelist qualcomm specific ioctls
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;
allowxperm rild self:udp_socket ioctl priv_sock_ioctls;

allow rild persist_file:dir search;

# rild needs to parse through /proc to obtain pid of netmgrd
r_dir_file(rild, netmgrd)
# b/18352920 suppress denials until the procfs lookup is removed
dontaudit rild domain:dir r_dir_perms;

allow rild audioserver_service:service_manager find;
allow rild mediaserver_service:service_manager find;
allow rild per_mgr_service:service_manager find;

allow rild time_daemon:unix_stream_socket connectto;

# m292 kmsg audit :292–:304 @ err_ready (permissive=1, not a blanket):
#   avc: denied { getattr } for comm="rild" path="/data/misc/radio"
#     scontext=u:r:rild:s0 tcontext=u:object_r:radio_data_file:s0 tclass=dir
#   avc: denied { getattr } for comm="rild" path="/data/misc/radio/qcril.db"
#     scontext=u:r:rild:s0 tcontext=u:object_r:radio_data_file:s0 tclass=file
#   avc: denied { read write } for comm="rild" name="qcril.db" ... tclass=file
#   avc: denied { open } for comm="rild" path="/data/misc/radio/qcril.db" ...
#   avc: denied { ioctl } for comm="rild" path=".../qcril.db" ioctlcmd=f50c
#   avc: denied { lock } for comm="rild" path=".../qcril.db" ... tclass=file
#   avc: denied { write add_name read open remove_name } ... tclass=dir
#   avc: denied { create unlink } name="qcril.db-journal" ... tclass=file
# libril-qc-qmi-1.so sourced /data/misc/radio/qcril.db. search is the
# path-walk bit (not in the AVC set). Not permissive=1.
typeattribute rild data_between_core_and_vendor_violators;
allow rild radio_data_file:dir { getattr write add_name read open remove_name search };
allow rild radio_data_file:file { getattr read write open ioctl lock create unlink };
allow rild radio_data_file:lnk_file read;

userdebug_or_eng(`
  allow rild ssr_device:chr_file { open read };

  allow rild sysfs_msm_subsys:dir { open search read };
  allow rild sysfs_msm_subsys:lnk_file { read open };
  allow rild sysfs_msm_subsys:dir r_dir_perms;
  allow rild sysfs_msm_subsys:lnk_file read;
')

allow rild diag_device:chr_file rw_file_perms;

# allow rild to use qualcomm's socket ipc ioctls
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;
