type talkman-sh, domain;
type talkman-sh_exec, exec_type, file_type, vendor_file_type;

# Started by init
init_daemon_domain(talkman-sh)

# Access to /data/misc/radio/*
allow talkman-sh radio_data_file:file create_file_perms;
allow talkman-sh radio_data_file:dir create_dir_perms;

# Chwon /data/misc/radio/modem_config
allow talkman-sh self:capability chown;

# Copy /firmware/image/modem_pr/mcfg/configs/ to /data/misc/radio/*
allow talkman-sh firmware_file:file r_file_perms;
allow talkman-sh firmware_file:dir r_dir_perms;

allow talkman-sh shell_exec:file r_file_perms;
allow talkman-sh vendor_shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow talkman-sh toolbox_exec:file rx_file_perms;
allow talkman-sh vendor_toolbox_exec:file rx_file_perms;

# /system/etc/qcril.db seed + /system/bin/sqlite3 integrity_check.
allow talkman-sh system_file:file { getattr open read execute execute_no_trans };
