on boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq 960000

    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop sys.usb.controller f9200000.dwc3
    write /sys/devices/soc.0/f9200000.ssusb/mode peripheral

    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mkdir /config/usb_gadget/g1 0770
    write /config/usb_gadget/g1/idVendor 0x18d1
    write /config/usb_gadget/g1/idProduct 0x4ee7
    write /config/usb_gadget/g1/bcdUSB 0x0200
    mkdir /config/usb_gadget/g1/strings/0x409 0770
    write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
    write /config/usb_gadget/g1/strings/0x409/manufacturer ${ro.product.manufacturer}
    write /config/usb_gadget/g1/strings/0x409/product ${ro.product.model}
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/configs/b.1 0770
    mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    write /config/usb_gadget/g1/configs/b.1/bmAttributes 0xc0
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb
    write /sys/class/android_usb/android0/idVendor 18D1
    write /sys/class/android_usb/android0/idProduct 4EE7
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
