# This file gets copied as /init.talkman.diag.rc

on post-fs-data
    # Modem logging collection
    mkdir /data/diag_logs 0770 system system

service cnss_diag /vendor/bin/cnss_diag --q
    class late_start
    user root
    group root
    oneshot
